@charset "utf-8";

$color-sand: #e7cc98;
$font-header: "Abril Fatface", cursive;
$font-silly: "Indie Flower", cursive;
$font-normal: "Josefin Sans", sans-serif;

h1 {
  color: #363636;
  font-family: $font-header;
  font-size: 3rem;
  font-weight: 600;
}
h2 {
  font-family: $font-silly;
  font-size: 1.5rem;
  color: #363636;
  opacity: 0.6;
  padding: 0.6rem;
}

body {
  background-color: $color-sand;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

#grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 99vh;
  padding: 2rem;
  font-family: $font-normal;
}

#intro {
  padding: 3rem 0;
  align-self: center;
}

#hobbies {
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  #grid {
    grid-template-columns: 3fr 7fr;
  }
  #hobbies {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  #intro {
    justify-self: center;
    padding-right: 2rem;
  }
}

@media (max-width: 600px) {
  #grid {
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  }

  #hobbies {
    grid-template-columns: 90vw;
  }
}
