h1 {
  color: #363636;
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  font-weight: 600; }

h2 {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  color: #363636;
  opacity: 0.6;
  padding: 0.6rem; }

body {
  background-color: #e7cc98;
  background-size: cover;
  min-height: 100vh;
  margin: 0; }

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2em;
  min-height: 5vh; }
  footer span {
    padding: 0 1.5em; }
    footer span i {
      font-size: 2em; }

#grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 86vh;
  padding: 2rem;
  font-family: "Josefin Sans", sans-serif; }

#intro {
  padding: 3rem 0;
  align-self: center; }

#hobbies {
  display: grid;
  grid-gap: 1rem; }

@media (min-width: 600px) {
  #grid {
    grid-template-columns: 3fr 7fr;
    padding-right: 5rem; }
  #hobbies {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); }
  #intro {
    justify-self: center;
    padding-right: 2rem; } }

@media (max-width: 600px) {
  #grid {
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr)); }
  #hobbies {
    grid-template-columns: 90vw; } }
